# Data Cleaning and Analysis with Pandas

A large food group wants to buy a local fast food restaurant, but before investing, it would like to analyze its data.

### Import the library Pandas and the dataset`food.csv`

### Data exploration and cleaning

####  Display the first 5 lines of the dataset.

####  Display the last 5 lines of the dataset.

#### Display the columns of your dataset

#### Check if there is nans or duplicates in your dataset

#### Fill your nans with "Not specified"

#### Check the type of your columns

#### Replace the total_price format to float

#### Create a new column to get the price by one unique item

### Data Analysis

#### Display the statistical description of the dataset

#### Display the 10 most ordered items. Hint : Use the method groupby

#### Display the total number of items ordered

####  Display the company's total revenue

#### Display the average revenue per order

### Drop the column `Unnamed: 0` and `Unnamed: 0.1`

### Save your new Dataframe into a new CSV file