### Let's solve some problems using python

#### Problem 1 

Write a Python function that takes a list of numbers as an argument and returns the largest number in the list.

In [2]:
def find_largest(nums):
    ## write here

    
    return 

numbers = [3, 5, 2, 8, 4]
print(find_largest(numbers)) # Output: 8

None

#### Problem 2

Write a Python function that takes a string as an argument and returns the number of vowels in the string.

In [3]:
def count_vowels(s):
    ## write here

  
    return 

sentence = "Hello, World!"
print(count_vowels(sentence)) # Output: 3

None

#### Problem 3

Write a Python function that takes a list of strings as an argument and returns a list of strings that contains only the even-length strings from the original list.

In [4]:
def even_length_strings(strings):
    ## write here

    
    return 

words = ['cat', 'dog', 'bird', 'monkey', 'elephant']
print(even_length_strings(words)) # Output: ['bird', 'monkey', 'elephant']

None

#### Problem 4

Write a Python function that takes a list of integers as an argument and returns the sum of the squares of the integers in the list.

In [5]:
def sum_of_squares(nums):
    ## write here

    return 

numbers = [1, 2, 3, 4, 5]
print(sum_of_squares(numbers)) # Output: 55

None

#### Problem 5

Palindrome checker: Write a function that takes in a string and returns a Boolean indicating whether the string is a palindrome (a word or phrase that reads the same backwards as forwards).

In [ ]:
def is_palindrome(s):
    ## write here

    return 

print(is_palindrome("racecar")) # True
print(is_palindrome("hello")) # False

#### Problem 6
FizzBuzz: Write a program that prints the numbers from 1 to 100. But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
## write here

#### Problem 7 

Reverse a list: Write a function that takes in a list and returns a new list with the elements in reverse order.

In [6]:
def reverse_list(lst):
    ## write here


    return

print(reverse_list([1, 2, 3, 4, 5])) # [5, 4, 3, 2, 1]

None

#### Problem 8
Leap year checker: Write a function that takes in a year and returns a Boolean indicating whether the year is a leap year. A leap year is divisible by 4, but not divisible by 100 unless it is also divisible by 400.

In [7]:
def is_leap_year(year):
    ## write here


    return

print(is_leap_year(2000)) # True
print(is_leap_year(1900)) # False

None
None

#### Problem 9
Flatten a nested list: Write a function that takes in a nested list and returns a new list with all the elements flattened.

In [ ]:
def flatten_list(lst):
    ## write here

    
    return 

print(flatten_list([1, [2, [3, 4], 5]])) # [1, 2, 3, 4, 5]

#### Problem 10

Fibonacci Sequence Generator: Write a function that generates the Fibonacci sequence up to a given number of terms. The Fibonacci sequence is a series of numbers in which each number is the sum of the two preceding ones, usually starting with 0 and 1.

In [8]:
def fibonacci(n):
    ## write here

    return 

print(fibonacci(10)) # [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

None